* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  color: white;
}

body {
  font-family: "Oswald", "Sans-serif";
}
header {
  background-color: #333;
}
.container {
  width: 80%;
  margin: auto;
  /* background-color: red; */
  /* background-color: yellow; */
}
.header-content {
  padding: 10px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  text-decoration: none;
  font-size: 32px;
}
header nav ul {
  list-style-type: none;
  text-align: center;
}

header nav ul li {
  min-width: 50px;
  display: inline-block;
}

nav ul li a {
  padding: 12px;
  font-size: 20px;
  margin: 0;
  /* text-decoration: none; */
  text-transform: capitalize;
  cursor: pointer;
}

#logout-icon {
  display: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

/* section  products */
.products {
  margin: 10px 0;
  width: 60%;
}
.products-item {
  box-shadow: 1px 1px 2px 1.5px #e8e8e8;

  display: flex;
  /* height: 200px; */
  /* background-color: red; */
  /* height: 121.4px; */
  border: 1px solid #ddd;
  margin-bottom: 16px;
}

.product-item-img {
  /* width: 80%; */
  margin-right: 10px;
  width: 120px;
  height: auto;
}
.product-item-img:hover {
  transform: scale(1.2);
}
.product-item-img img {
  width: 100%;
  height: 100%;
}
/* .product-item-img img:hover {
  width: 200%;
  position: absolute;
 
 
  
 
} */

.product-item-desc {
  padding: 5px;
  line-height: 1.5;
}

.product-item-desc h2 {
  font-size: 25px;
  text-transform: capitalize;
}
#user {
  text-transform: capitalize;
  font-size: 22px;
  font-weight: bold;
}
.product-item-actions {
  text-align: right;
  flex: 1;
  position: relative;
  /* background-color: red; */
  /* display: flex; */
}

.product-item-actions .add-to-cart {
  display: block;
  margin-left: auto;
  padding: 10px;
  background-color: rgb(35, 110, 35);
  border: 0;
  outline: 0;
  text-align: center;
  text-transform: capitalize;
  font-size: 20px;
  color: white;
  letter-spacing: 2px;
  box-shadow: 1px 1px 2px 1.5px #e8e8e8;
  cursor: cell;
}
.product-item-actions .add-to-cart:hover {
  opacity: 0.8;
  transform: scale(0.95);
  background-color: rgb(87, 197, 87);
}

#icon {
  display: block;
  bottom: 30px;
  right: 5px;

  position: absolute;
}

#second-icon {
  position: absolute;
  color: rgb(235, 22, 22);
  left: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s;
  cursor: pointer;
}

#icon:hover #second-icon {
  transform: scale(1.1);
  visibility: visible;
  opacity: 1;
}
#icon:hover {
  transform: scale(1.1);
}
/* icon shoping */

.dropdown {
  position: relative;
}
.dropdown-menu {
  display: none;
  top: 40px;
  transform: translate(-29%, 0);
  width: 300px;
  position: absolute;
  background-color: #fff;
  border: 2px solid #e8e8e8;
  height: auto;
}
.dropdown-menu a {
  margin-top: 30px;
  background-color: darkgreen;
  height: 38px;
  display: block;
  text-align: center;
  text-decoration: none;
}

.icon-number {
  line-height: 20px;
  border-radius: 50%;
  top: 10px;
  left: 1066px;
  width: 18px;
  height: 18px;
  background-color: red;
  position: absolute;
}
.products-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.products-info p {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 20px;
  position: relative;
  text-align: center;
  padding: 0;
  margin: 0;
}

.products-info .hero-img {
  margin-bottom: 10px;
  display: flex;

  align-items: center;
}
.hero-img img {
  width: 22%;
  border-radius: 50%;
  margin-right: 21px;
  box-shadow: 2px 2px 2px rgb(152, 152, 255);
}
.hero-img img:hover {
  box-shadow: 2px 2px 2px green;
}

.icon-img {
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-left: 30px;

  border: 2px solid rgb(152, 152, 255);
  border-radius: 50%;
}
.icon-img i:first-child {
  color: green;
  position: relative;
}
.icon-img i:last-child {
  color: red;
  position: absolute;
  left: 224px;
  display: none;
}

.icon-img:hover i:first-child {
  display: none;
}

.icon-img:hover i:last-child {
  display: block;
}
#herop {
  color: black;
}
.ncNew {
  display: none;
}
.nc {
  margin-left: 100px;
  margin-top: 20px;
  display: flex;
  width: 500px;
  height: 100px;
  background-color: rgba(241, 97, 97, 0.2);
}
.newclass {
  text-align: center;
  line-height: 100px;
  flex: 1;
  color: red;
}

.no-products {
  line-height: 100px;
  color: green;

  flex: 2;
}
.product-item-desc h2{
  font-size:25px
}
.product-item-desc a {
  color: black;
  cursor: pointer;
}

/* products detalis */
.products-detalis {
  margin: auto;
  width: 890px;
  height: 500px;

  display: flex;
  flex-direction: column;
}
.search-bar{
  width: 80%;
  display: flex;
  height: 60px;
 
 
  justify-content: center;
  align-items: center;


}


.search-bar input{
  border-radius: 3px;
  box-shadow: 2px 2px 3px 1px  #e8e8e8;
  width: 75%;
  font-size: 18px;
  padding: 5px;
  height: 35px;
  border: 1px solid  #e8e8e8;
  outline: 0;

}
.parqun{
  flex: 1;
  width: 40px ;
  justify-content: center;
  align-items: center;
  height: auto;
}
.qun{
  margin-left: auto;
  margin-right:20px ;
  border-radius: 50%;
  color: white;
  background-color:gray;
  width: 20px  ;
  height: 20px  ;


}
.search-by-size{
  width: 80%;
  display: flex;
  height: 60px;
 
 
  justify-content: center;
  align-items: center;
}
.search-by-size input{
  border-radius: 3px;
  box-shadow: 2px 2px 3px 1px  #e8e8e8;
  width: 75%;
  font-size: 18px;
  padding: 5px;
  height: 35px;
  border: 1px solid  #e8e8e8;
  outline: 0;
}
.quntity{
  display: none;
}